.input__container{
    margin-top: 50px;
    
}

.headline_small{
    margin: 0;
    
    color: #2C2E7F;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

.calendar_row{
    margin-top: 90px;
}
