.checkBox{
    margin-top: 50px;
}

.checkBox_elem{
    display: flex;
    align-items: center;
}

.checkBox__text{
    margin-left: 10px;

    color: #ACB4CD;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}